header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

p, a, h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body img{
    width: 80%;
}
nav {
    background: #000428;
    background: -webkit-linear-gradient(to left, #000a67, #50aeee);
    background: linear-gradient(to left, #000a67, #50aeee);
    display: flex;
    justify-content: end;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #00bfff;
    padding: 20px;
    font-size: 1.4vw;
}

.informacion{
    background: #000428;
    background: -webkit-linear-gradient(to left, #000a67, #50aeee);
    background: linear-gradient(to left, #000a67, #50aeee);
    display: flex;
    flex-direction: row;
}

.containerImg{
    padding: 50px 50px 50px 80px;
    width: 50%;
}

.containerImg img{
    width: 100%;
    box-shadow: 0px 0px 30px 4px #000000;
}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.presentacion p{
    padding: 2% 5%;
    color: white;
    font-size: 1.6vw;
    text-align: justify;
}

.contacto{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
}

.contacto div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.estudiante img{
    margin: 30px 0px;
    width: 60%;
    border-radius: 100%;
    box-shadow: 0px 0px 30px 4px #000000;
}

.estudiante h3{
    font-weight: normal;
    font-size: 1.2vw;
    color: 000a67;
}

.javeriana img{
    margin: 30px 0px;
    width: 60%;
}

.javeriana p{
    font-weight: normal;
    font-size: 1.2vw;
    color: 000a67;

}

.asignatura img{
    margin: 30px 0px;
    width: 60%;
    border-radius: 100%;
    box-shadow: 0px 0px 30px 4px #000000;
}

.asignatura p{
    font-weight: normal;
    font-size: 1.2vw;
    color: 000a67;
}

.logo{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}