<html>
    <header>
        <nav>
            <ul>
                <li><a (click)="signIn()">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="logo">
            <img src="assets/images/Logo_PROTESYS.png" alt="Logo">
        </div>
        <div class="informacion">
            <div class="containerImg">
                <img src="assets/images/imgPresentacion.png" alt="presentacion">
            </div>
            <div class="presentacion">
                <p>PROTESYS tiene como objetivo brindar protección y seguridad a hogares y sus ocupantes mediante una aplicación móvil y una plataforma web.</p>
                <p>Los usuarios podrán registrar su domicilio y a las personas que forman parte de su grupo familiar, y monitorear el comportamiento del hogar mediante sensores y cámaras de seguridad instaladas. Además, el sistema permitirá la comunicación entre los miembros del grupo familiar y la generación de alertas de seguridad, incluyendo una opción de alerta máxima que notificará a todos los usuarios registrados en el grupo familiar, a las autoridades correspondientes y a la empresa de seguridad contratada por el usuario.</p>    
            </div>
        </div>
        <div class="contacto">
            <div class="javeriana">
                <img src="assets/images/logo_javeriana.png" alt="Logo Javeriana">
                <p>Pontificia Universidad Javeriana</p>
                <p>Bogotá</p>
            </div>
            <div class="estudiante">
                <img src="assets/images/estudiante.png" alt="Estudiante">
                <h3>Juan Sebastian Galeano Gonzalez</h3>
                <h3>jsebastian-galeano@javeriana.edu.co</h3>
            </div>
            <div class="asignatura">
                <img src="assets/images/patrones_de_diseño.png" alt="Logo Javeriana">
                <p>Proyecto de Curso</p>
                <p>Patrones de Diseño de Software.</p>
            </div>
        </div>
    </body>
</html>
