<html>
    <body>
        <div class="infoUsuario">
            <img src={{imageUsuario}} alt="Imagen del Usuario" class="imgUsuario">
            <div class="groupInfo">
                <div class="label-group">
                    <p class="label">Nombre:</p>
                    <p class="nombre">{{usuario.nombre}}</p>
                </div>
                <div class="label-group">
                    <p class="label">Cedula:</p>
                    <p class="cedula">{{usuario.cedula}}</p>
                </div>
                <div class="label-group">
                    <p class="label">Correo:</p>
                    <p class="correo">{{usuario.correo}}</p>
                </div>
                <div class="label-group">
                    <p class="label">Telefono:</p>
                    <p class="telefono">{{usuario.telefono}}</p>
                </div>
                <div class="label-group">
                    <p class="label">Rol:</p>
                    <p class="rol">{{usuario.rol}}</p>
                </div>
            </div>
        </div>
        
    </body>
</html>