html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

nav li {
    padding: 2%;
    list-style: none;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

nav li a {
    font-size: 1.6vw;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containernav {
    width: 20%;
    max-width: 20%;
    height: 100%;
    max-height: 100%;
    background: #000428;
    background: -webkit-linear-gradient(to right, #000a67, #50aeee);
    background: linear-gradient(to right, #000a67, #50aeee);
}

.tabla {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.tabla img {
    width: 100%;
    height: 100%;
}

.containerLi:hover {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 30px 4px #000000;
}

.containerLi:hover a {
    color: #000a67;
    text-shadow: 2px 2px 4px #00bfff;
}

.containerLi {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerLi.selected {
    background-color: white;
    box-shadow: 0px 0px 30px 4px #000000;
}

.containerLi.selected a {
    color: #000a67;
    text-shadow: 2px 2px 4px #00bfff;
}

.containerInformacion {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 100%;
    max-height: 100%;  
    border: none;
}

th {
    background: #000428;
    background: -webkit-linear-gradient(to right, #000a67, #50aeee);
    background: linear-gradient(to right, #000a67, #50aeee);
    color: #fff;
    padding: 3px;
    font-size: 1vw;
}

td {
    background-color: #fff;
    padding: 4px;
    border: 0.5px solid #ccc;
    font-size: 1.1vw;
    white-space: nowrap;
    height: 100%;
    width: 40%;
}

tr:hover td {
    background-color: #bee1f4;
}

.botonVer {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}

.botonVer:hover {
    background-color: #24864d;
}

.botonEditar {
    background-color: #3e8edf;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}

.botonEditar:hover {
    background-color: #275dae;
}

.botonEliminar {
    background-color: #e64848;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}

.botonEliminar:hover {
    background-color: #ae2727;

}

.containerBotones{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2{ 
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: #000a67;
}

.containerTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    max-width: 100%;
    max-height: 15%;
}

.containerTabla{
    height: 75%;
    width: 100%;
    max-height: 75%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCrear{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}