<html>

<body>
    <div class="container">
        <div class="containernav">
            <nav>
                <ul>
                    <div class="containerLi" (click)="cambiarOpcion('Inicio')"
                        [ngClass]="{'selected': opcionSeleccionada === 'Inicio'}">
                        <li>
                            <a>Inicio</a>
                        </li>
                    </div>
                    <div class="containerLi" (click)="cambiarOpcion('Usuarios')"
                        [ngClass]="{'selected': opcionSeleccionada === 'Usuarios'}">
                        <li>
                            <a>Usuarios</a>
                        </li>
                    </div>
                    <div class="containerLi" (click)="cambiarOpcion('Grupos')"
                        [ngClass]="{'selected': opcionSeleccionada === 'Grupos'}">
                        <li>
                            <a>Grupos</a>
                        </li>
                    </div>
                    <div class="containerLi" (click)="cambiarOpcion('Pisos')"
                        [ngClass]="{'selected': opcionSeleccionada === 'Pisos'}">
                        <li>
                            <a>Pisos</a>
                        </li>
                    </div>
                    <div class="containerLi" (click)="cambiarOpcion('Casas')"
                        [ngClass]="{'selected': opcionSeleccionada === 'Casas'}">
                        <li>
                            <a>Casas</a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="tabla">
            <img *ngIf="opcionSeleccionada == 'Inicio'" src="assets/images/Logo_PROTESYS.png" alt="Logo">
            <div class="containerInformacion" *ngIf="opcionSeleccionada == 'Usuarios'">
                <div class="containerTitulo">
                    <h2>Listado de Usuarios.</h2>
                </div>
                <div class="containerTabla">
                    <table>
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Rol</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>{{usuario.cedula}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.correo}}</td>
                                <td>{{usuario.telefono}}</td>
                                <td>{{usuario.rol}}</td>
                                <td>
                                    <div class="containerBotones">
                                        <a class="botonVer boton"
                                            [routerLink]="['/admin/usuario/view', usuario.idUsuario]">Ver</a>
                                        <a class="botonEditar boton"
                                            [routerLink]="['/admin/usuario/update', usuario.idUsuario]">Editar</a>
                                        <a class="botonEliminar boton" (click)="eliminarUsuario(usuario)">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="containerCrear">
                    <a class="botonEditar" [routerLink]="['/admin/usuario/create']">Crear</a>
                </div>
            </div>
            <div class="containerInformacion" *ngIf="opcionSeleccionada == 'Grupos'">
                <div class="containerTitulo">
                    <h2>Listado de Grupos.</h2>
                </div>            
                <div class="containerTabla">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Num. Usuarios</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let grupo of grupos">
                                <td>{{grupo.nombre}}</td>
                                <td>{{grupo.fecha}}</td>
                                <td>{{grupo.cantidadUsuarios}}</td>
                                <td>{{grupo.estado}}</td>
                                <td>
                                    <div class="containerBotones">
                                        <a class="botonVer" [routerLink]="['/admin/grupo/view', grupo.idGrupo]">Ver</a>
                                        <a class="botonEditar"
                                            [routerLink]="['/admin/grupo/update', grupo.idGrupo]">Editar</a>
                                        <a class="botonEliminar" (click)="eliminarGrupo(grupo)">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="containerCrear">
                    <a class="botonEditar"
                    [routerLink]="['/admin/grupo/create']">Crear</a>
                </div>
            </div>
            <div class="containerInformacion" *ngIf="opcionSeleccionada == 'Pisos'">
                <div class="containerTitulo">
                    <h2>Listado de Pisos.</h2>
                </div>
                <div class="containerTabla">
                    <table>
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Numero</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let piso of pisos">
                                <td>{{piso.codigo}}</td>
                                <td>{{piso.numero}}</td>
                                <td>
                                    <div class="containerBotones">
                                        <a class="botonVer" [routerLink]="['/admin/piso/view', piso.idPiso]">Ver</a>
                                        <a class="botonEditar" [routerLink]="['/admin/piso/update', piso.idPiso]">Editar</a>
                                        <a class="botonEliminar" (click)="eliminarPiso(piso)">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="containerCrear">
                    <a class="botonEditar"
                    [routerLink]="['/admin/grupo/create']">Crear</a>
                </div>
            </div>
            <div class="containerInformacion" *ngIf="opcionSeleccionada == 'Casas'">
                <div class="containerTitulo">
                    <h2>Listado de Casas.</h2>            
                </div>
                <div class="containerTabla">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Barrio</th>
                                <th>Direccion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let casa of casas">
                                <td>{{casa.nombre}}</td>
                                <td>{{casa.barrio}}</td>
                                <td>{{casa.direccion}}</td>
                                <td>
                                    <div class="containerBotones">
                                        <a class="botonVer" [routerLink]="['/admin/casa/view', casa.idCasa]">Ver</a>
                                        <a class="botonEditar" [routerLink]="['/admin/casa/update', casa.idCasa]">Editar</a>
                                        <a class="botonEliminar" (click)="eliminarCasa(casa)">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="containerCrear">
                    <a class="botonEditar"
                    [routerLink]="['/admin/casa/create']">Crear</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>