body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #002b67;
}

html {
  height: 100%;
  width: 100%;
  background-color: #000a67;
}

.container {
  width: 90%;
  height: 90%;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 30px 2px #000a67;
  position: relative;
}


.acciones {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.buton {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opciones {
  height: 100%;
  background-color: #000a67;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.optionGroup {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonAction {
  flex: 1;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.buttonAction:hover {
  width: 100%;
  background-color: aliceblue;
  box-shadow: 0px 0px 30px 4px #000000;
}

.buttonAction p {
  padding-left: 10%;
  padding-right: 12%;
  font-size: 1vw;
  font-family: "Lucida Console", "Courier New", monospace;
}

.buttonAction:hover p {
  color: #000a67;
}

.buttonAction .icon {
  padding-left: 10%;
}

.buttonAction:hover .icon {
  color: #000a67;
}

.buttonAction.selected {
  background-color: aliceblue;
}

.buttonAction.selected p,
.buttonAction.selected .icon {
  color: #000a67;
}

.my-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2vw;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  background-color: #000a67;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.my-button:hover {
  background-color: aliceblue;
  color: #000a67;
}

.my-button-before {
  padding: 10px 20px;
  font-size: 1.2vw;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  background-color: aliceblue;
  color: #000a67;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: absolute;
  top: 3%;
  right: 3%;
}

.my-button-before:hover {
  background-color: #000a67;
  color: aliceblue;
}

.option{
  width: 80%;
}