<html>
    <body>
        <div class="container">
            <div class="option">
            <app-info-usuario *ngIf="selectedOption === 'Usuario'"></app-info-usuario>
            <app-info-grupo *ngIf="selectedOption === 'Grupo'"></app-info-grupo>
            <app-notifications *ngIf="selectedOption === 'Notificaciones'"></app-notifications>
            <app-chats *ngIf="selectedOption === 'Chats'"></app-chats>
            <app-info-domicilio *ngIf="selectedOption === 'Domicilio'"></app-info-domicilio>
            <app-administracion *ngIf="selectedOption === 'Administracion'"></app-administracion>
            <app-admin-grupo *ngIf="selectedOption === 'Admin_Grupo'"></app-admin-grupo>
        </div>
            <div *ngIf="!options" class="buton">
                <button (click)="selectOptions()" class="my-button-before">HERRAMIENTAS</button>
            </div>
            <div class="acciones">
                <div *ngIf="options" class="opciones">
                    <div class="buton">
                        <button (click)="selectOptions()" class="my-button">HERRAMIENTAS</button>
                    </div>
                    <div class="optionGroup">
                        <div (click)="selectOption('Usuario')" 
                        [ngClass]="{'selected': selectedOption === 'Usuario'}" 
                        class="buttonAction">
                            <icon-grupo class="icon"></icon-grupo>
                            <p>Usuario</p>
                        </div>
                        <div (click)="selectOption('Grupo')"
                        [ngClass]="{'selected': selectedOption === 'Grupo'}" 
                        class="buttonAction">
                            <icon-grupo class="icon"></icon-grupo>
                            <p>Grupo</p>
                        </div>
                        <div (click)="selectOption('Notificaciones')"
                        [ngClass]="{'selected': selectedOption === 'Notificaciones'}" 
                        class="buttonAction">
                            <icon-notificaciones class="icon"></icon-notificaciones>
                            <p>Notificaciones</p>
                        </div>
                        <div (click)="selectOption('Chats')"
                        [ngClass]="{'selected': selectedOption === 'Chats'}" 
                        class="buttonAction">
                            <icon-chats class="icon"></icon-chats>
                            <p>Chats</p>
                        </div>
                        <div (click)="selectOption('Domicilio')" 
                        [ngClass]="{'selected': selectedOption === 'Domicilio'}" 
                        class="buttonAction">
                            <icon-domicilio class="icon"></icon-domicilio>
                            <p>Domicilio</p>
                        </div>
                        <div *ngIf="roles.includes('ROLE_ADMINISTRADOR')"
                         (click)="selectOption('Administracion')"
                         [ngClass]="{'selected': selectedOption === 'Administracion'}" 
                         class="buttonAction">
                            <icon-administracion class="icon"></icon-administracion>
                            <p>Administración</p>
                        </div>
                        <div *ngIf="roles.includes('ROLE_ADMIN_GRUPO')"
                         (click)="selectOption('Admin_Grupo')"
                         [ngClass]="{'selected': selectedOption === 'Admin_Grupo'}" 
                         class="buttonAction">
                            <icon-admin-grupo class="icon"></icon-admin-grupo>
                            <p>Admin - Grupo</p>
                        </div>
                    </div>
                    <div class="buton">
                        <button (click)="logout()" class="my-button">CERRAR SESIÓN</button>
                    </div>
                </div>
            </div>
        </div>    
    </body>
</html>